.card-image img {
  object-fit: contain;
}

.card {
  background: url(../../images/bg_1.jpg);
  border: 1px solid gray;
  border-radius: 10px;
  color: gray;
  cursor: pointer;
  transition: 1s;
  overflow: hidden;
}

.title {
  color: rgba(255, 255, 255, 0.856);
}

.card:hover {
  transform: scale(1.1);
}

.card-link {
  color: gray;
}

.card-link:hover {
  color: blue;
}
