html {
  background: url("./images/bg_1.jpg");
}

.page {
  display: grid;
  grid-template: auto / 1fr 400px;
  column-gap: 20px;
  min-height: 100vh;
}

.top-header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.page-content {
  padding: 20px;
}

.sidebar {
  padding: 20px;
}

.header-title {
  font-size: 2.5rem;
  font-weight: 700;
  border-radius: 50%;
  cursor: pointer;
  padding: 0 10px;
  background-color: #dcdcdc;

  :hover {
    color: #dcdcdc;
  }
}

.header-title_secondary {
  font-size: 2.3rem;
  font-weight: 700;
  cursor: pointer;
  padding: 0 10px;
  text-transform: uppercase;
  color: #dcdcdc;
}

.spider {
  width: 90px;
  height: 240px;
  position: absolute;
  background-image: url(./images/spider.png);
  background-size: contain;
  right: 200px;
  top: -300px;
}

.spider-animation {
  animation-name: header-animation-spider;
  animation-duration: 4.5s;
  animation-fill-mode: forwards;
}

.spider-animation:hover {
  display: none;
}

@keyframes header-animation-spider {
  0% {
    top: -260px;
  }

  50% {
    top: -110px;
  }

  100% {
    top: -140px;
  }
}
